# Ignore any folder with "data" in its name (case-sensitive)
*data*/

# ignore .DS_Store files
.DS_Store
**/.DS_Store


# Ignore .env anywhere
.env
**/.env

.vscode/

# Ignore Python cache files
__pycache__/


depth_pro_checkpoints

# Ignore all .onnx files inside test/ directory (recursively)
test/**/*.onnx
test/**/*.onnx.data     # also ignore sharded weight blobs


*.pthtest/ml_depth_map/Depth-Anything-V2/*.onnx*
*.onnx.data
*.onnx
*.pth


models/